:root {
	--bs-body-font-family: Poppins, sans-serif;
}

$main-color: #32aa27;
$shady-main-color: #26801d;
$inverted-color: #ffffff;
$background-color: rgb(245, 245, 245);

$grey: #595959;
$white: #ffffff;
