<footer class="footer">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center py-5 footer__inner">
			<div class="footer-info">
				<div class="d-flex align-items-center copyrits">
					<div class="me-1 copyrits__text">©&nbsp;2025&nbsp;created by</div>
					<div class="copyrights__link">
						<a href="https://t.me/totality7" target="_blank">
							<span>@totality</span>
							<svg>
								<use href="#telegramSvg" />
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
