@charset "UTF-8";
:root {
  --bs-body-font-family: Poppins, sans-serif;
}

html {
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

img {
  display: block;
}

.app-wrapper {
  min-height: 100vh;
}

.svg-sprite {
  display: none;
}

.subtitle {
  color: #32aa27;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

.header {
  border-bottom: 2px solid #32aa27;
}

.navbar-brand {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
}

.nav-link {
  font-weight: 500;
}
.nav-link svg {
  width: 20px;
  height: 20px;
}

.nav-user {
  position: relative;
}
.nav-user svg {
  color: #26801d;
}
.nav-user::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  width: 20px;
  border-bottom: 2px solid #32aa27;
  border-color: #26801d;
}
.nav-user::before {
  content: "Log out";
  display: block;
  position: absolute;
  left: 7px;
  bottom: -18px;
  text-wrap: nowrap;
  height: 1px;
  overflow: hidden;
  transition: 300ms all ease-in-out;
}
.nav-user:hover::before {
  height: 24px;
}

.nav-no-user {
  position: relative;
}
.nav-no-user::before {
  content: "Log in";
  display: block;
  position: absolute;
  left: 7px;
  bottom: -18px;
  text-wrap: nowrap;
  height: 1px;
  overflow: hidden;
  transition: 300ms all ease-in-out;
}
.nav-no-user:hover::before {
  height: 24px;
}

.footer {
  border-top: 2px solid #32aa27;
  color: #ffffff;
  background-color: black;
}
.footer__inner {
  gap: 0 5px;
  line-height: 36px;
  text-align: center;
}

.copyrights__link span {
  border-bottom: 1px solid white;
}
.copyrights__link svg {
  width: 32px;
  height: 32px;
  vertical-align: -35%;
}

.promo {
  min-height: 652px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(245, 245, 245);
}
.promo--1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/carousel-1.jpeg");
}
.promo--2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/carousel-2.jpeg");
}
.promo--3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/carousel-3.jpeg");
}
.promo__inner {
  color: #ffffff;
}
.promo__header-wrapper {
  min-height: 150px;
}
.promo__header {
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
}
.promo__button {
  font-weight: 600;
  text-transform: uppercase;
  background-color: #32aa27;
  letter-spacing: 1px;
  transition: 300ms all ease-in-out;
}
.promo__button:hover {
  background-color: #26801d;
}

.products {
  background-color: rgb(245, 245, 245);
}

.item__inner {
  height: 100%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 20px 0px;
  cursor: pointer;
}
.item__img img {
  max-width: 100%;
}
.item__caption {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.item__caption svg {
  width: 10px;
  height: 17px;
  vertical-align: -6%;
}
.item__description {
  color: #595959;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.item__price {
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  position: relative;
}
.item__price::before {
  content: "€";
  position: absolute;
  left: -22px;
  top: 4px;
  font-size: 26px;
  font-weight: 400;
}
.item__price::after {
  content: "00";
  position: absolute;
  right: -26px;
  top: 6px;
  font-size: 20px;
}
.item__inner:hover {
  transform: scale(1.05, 1.05);
}
.item__inner:hover .item__caption {
  color: #32aa27;
}
.item__inner:hover span {
  margin-right: 12px !important;
}
.item * {
  transition: 300ms all ease-in-out;
}

.movie__text {
  color: #595959;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.movie__img img {
  max-width: 100%;
}
.movie__price {
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  position: relative;
}
.movie__price::before {
  content: "€";
  position: absolute;
  left: -27px;
  top: 5px;
  font-size: 32px;
  font-weight: 400;
}
.movie__price::after {
  content: "00";
  position: absolute;
  right: -30px;
  top: 9px;
  font-size: 24px;
}
.movie__link {
  color: #ffffff;
  background-color: #32aa27;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 300ms all ease-in-out;
}
.movie__link:hover {
  background-color: #26801d;
}

.connect {
  background-color: #32aa27;
  color: #ffffff;
}
.connect__talk {
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
}
.connect__text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.connect__link {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  transition: 300ms all ease-in-out;
}
.connect__link:hover {
  background-color: #000000;
  border-color: #000000;
}

.contacts__card {
  background-color: rgb(245, 245, 245);
}
.contacts__gratitude {
  max-width: 512px;
  font-size: 18px;
}
.contacts__link {
  color: #595959;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0px;
}
.contacts__link svg {
  width: 27px;
  height: 27px;
  margin-right: 11px;
  vertical-align: -40%;
}

.about__text {
  color: #595959;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.about__banner {
  min-height: 320px;
}
.about__link {
  color: #595959;
  font-size: 18px;
  text-decoration: underline;
}
.about__link:hover {
  text-decoration: none;
}

.banner {
  width: 100%;
  height: 100%;
  background-image: url("../images/about.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(245, 245, 245);
}

.login__label {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.login__label span {
  color: #ec6366;
}
.login__button {
  color: #ffffff;
  background-color: #32aa27;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: 300ms all ease-in-out;
}
.login__button:hover {
  background-color: #26801d;
}
.login__link {
  display: block;
  text-align: center;
  border: 2px solid black;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 14px;
  transition: 300ms all ease-in-out;
}
.login__link:hover {
  background-color: #000000;
  color: #ffffff;
}
.login input {
  font-size: 18px;
}
.login input:focus {
  outline-offset: 2px;
  outline-width: 2px;
  outline-style: solid;
}
.login input,
.login label,
.login button {
  display: block;
  width: 100%;
}

.cart__left {
  background-color: rgb(245, 245, 245);
}

.cart-item__inner {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 20px 0px;
}
.cart-item__title {
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.cart-item__title svg {
  width: 10px;
  height: 17px;
  vertical-align: -6%;
}
.cart-item__title * {
  transition: 300ms all ease-in-out;
}
.cart-item__title:hover {
  color: #32aa27;
}
.cart-item__title:hover span {
  margin-right: 8px !important;
}
.cart-item__img img {
  width: 100%;
}
.cart-item__remove button {
  border: none;
  background-color: #ffffff;
  transition: 300ms all ease-in-out;
}
.cart-item__remove button:hover {
  color: #ec6366;
}
.cart-item__remove svg {
  width: 24px;
  height: 24px;
}

.summary__content {
  border-bottom: 2px solid #32aa27;
}
.summary__total {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  position: relative;
}
.summary__total::before {
  content: "€";
  position: absolute;
  left: -14px;
  top: 4px;
  font-size: 18px;
  font-weight: 400;
}
.summary__total::after {
  content: "00";
  position: absolute;
  right: -22px;
  top: 5px;
  font-size: 16px;
}
.summary__link {
  width: 100%;
  color: #ffffff;
  background-color: #32aa27;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: 300ms all ease-in-out;
}
.summary__link:hover {
  background-color: #26801d;
}/*# sourceMappingURL=style.css.map */