@import 'variables';
@import 'global';

.header {
	border-bottom: 2px solid $main-color;
}

.navbar-brand {
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
}

.nav-link {
	font-weight: 500;
}

.footer {
	border-top: 2px solid $main-color;
	color: $inverted-color;
	background-color: black;
	&__inner {
		gap: 0 5px;
		line-height: 36px;
		text-align: center;
	}
}

.copyrights {
	&__link {
		span {
			border-bottom: 1px solid white;
		}
		svg {
			width: 32px;
			height: 32px;
			vertical-align: -35%;
		}
	}
}

//---  index start ---//
.promo {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: $background-color;
	&--1 {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/carousel-1.jpeg');
	}
	&--2 {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/carousel-2.jpeg');
	}
	&--3 {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/carousel-3.jpeg');
	}
	&__inner {
		color: $inverted-color;
	}

	&__header-wrapper {
		min-height: 150px;
	}
	&__header {
		font-size: 62px;
		font-style: normal;
		font-weight: 700;
	}
	&__button {
		font-weight: 600;
		text-transform: uppercase;
		background-color: $main-color;
	}
}
//---  index end ---//

//---  products start ---//
.products {
	background-color: $background-color;
}

.item {
	&__inner {
		height: 100%;
		background-color: $white;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 20px 0px;
		cursor: pointer;
	}
	&__img img {
		max-width: 100%;
	}
	&__caption {
		font-size: 20px;
		font-style: normal;
		font-weight: 600;

		svg {
			width: 10px;
			height: 17px;
			vertical-align: -6%;
		}
	}
	&__description {
		@include text;
	}
	&__inner:hover {
		.item__caption {
			color: $main-color;
		}
		span {
			margin-right: 12px !important;
		}
		margin: -8px;
	}
	* {
		@include transition;
	}
}
//---  products end ---//

//---  movie start ---//
.movie {
	&__text {
		@include text;
	}
	&__img img {
		max-width: 100%;
	}
}

.connect {
	background-color: $main-color;
	color: $inverted-color;
	&__talk {
		font-size: 52px;
		font-style: normal;
		font-weight: 700;
	}
	&__text {
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
	}
	&__link {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 1px;
		border: 2px solid $white;
		border-radius: 2px;
		@include transition;

		&:hover {
			background-color: $black;
			border-color: $black;
		}
	}
}
//---  movie end ---//

//---  contacts start ---//
.contacts {
	&__card {
		border: 2px solid $main-color;
		background-color: $background-color;
		border-radius: 8px;
	}
	&__title {
		text-align: left;
	}
	&__info {
		max-width: 480px;
	}
	&__link {
		color: $grey;
		font-size: 1.125rem;
		font-weight: 400;
		line-height: 1;
		letter-spacing: 0px;
		svg {
			width: 27px;
			height: 27px;
			margin-right: 11px;
			vertical-align: -40%;
		}
	}
}
//---  contacts end ---//

//---  about start ---//
.about {
	&__text {
		@include text;
	}
	&__banner {
		min-height: 320px;
	}
	&__link {
		color: $grey;
		font-size: 18px;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

.banner {
	width: 100%;
	height: 100%;
	background-image: url('../images/about.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: $background-color;
}
//---  about end ---//
